[submodule "examples/aes_dom/design"]
	path = examples/aes_dom/design
	url = https://github.com/vedadux/aes-dom.git
[submodule "examples/aes_ti/design"]
	path = examples/aes_ti/design
	url = https://github.com/vedadux/AES_TIs
